/********************/
/* MAIN BODY STYLES */
/*******************/

#MainBody {
    background: #004756;
    font-size: 16px;
    font-family: 'Futura', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    margin: 0;
    transition: transform .2s;
    -webkit-transition: -webkit-transform .2s;
}

h1, h2, h3, p {
    margin: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.content {
    color: white;
    position: relative;
}


.glyphicon.glyphicon-cog {
    
    position: absolute;
    top: 4px;
    right: 30px;
    font-size: 35px;
}

/********END MAIN BODY*******/


/**********************/
/* RIGHT PANEL STYLES */
/**********************/
/* Body animation when right panel is opened */

body.ps-active {
  -webkit-transform: translateX(260px);
  -ms-transform: translateX(260px);
  transform: translateX(260px);
}

/* Body animation when right panel is opened */
body.ps-active-right {
  -webkit-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  transform: translateX(-260px);
}

/* Panel styles */
.panel {
  position: fixed;
  top: 0;
  width: 220px;
  height: 890px;
  background-color: #333;
  color: #fff;
  box-shadow: inset 0 0 5px 5px #222;
}

#right-panel {
  right: 0;

  /* Hide panel on the right of the page. When this panel is opened the
  class .ps-active-right will be apllied to body, and it's X translation
  will reveal the panel. */
  -webkit-transform: translateX(260px);
  -ms-transform: translateX(260px);
  transform: translateX(260px);
}

#right-panel-link {

  position: absolute;
  top: 4px;
  right: 100px;

}

#panel-title {

   color: white;
   text-align: center;

}


#add-item-button {




}

/********END RIGHT PANEL***********/



/*********************/
/* D3 EXAMPLE STYLES */
/*********************/

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area1 { fill: #595959; }

.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}

text {
    font: 10px sans-serif;
}

/************************/
/* GRIDSTER TEST STYLES */
/************************/

/*.controls {
    margin-bottom: 20px;
}
.page-header {
    margin-top: 20px;
}
ul {
    list-style: none;
}
.box {
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
}
*/

#gridster-ul {
    list-style: none;
}

.controls {
    margin-bottom: 20px;
}


.gridster {
    border: 1px solid #000;
    margin: 0 auto;
    /* opacity: .5; */ 
    background: #999999;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.gridster-item {
    height: 100%;
    border: 1px solid #ccc;
    background-color: #61A9CF;
    cursor: pointer;
}

/*******************************/
/* GRIDSTER BOX HEADER STYLES */
/******************************/


.box-header {
    background-color: #eee;
    padding: 0 42px 0 10px;
    border: 1px solid #ccc;;
    cursor: move;
    position: relative;
    width: 100%;
    height: 25px;
    top: 0;
    left: 0;
}

.box-header-btns {
    top: 2px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}

.box-header-btns a {
    color: black;
    text-decoration:none;
}

.box-header h3 {
    width: 100%;
    font-size: 20px;
    margin: 0px 0px;
    display: inline-block;
    color: black;
}
