/********************/
/* MAIN BODY STYLES */
/*******************/

#MainBody {
    background: #004756;
    font-size: 16px;
    font-family: 'Futura', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    margin: 0;
    height: 100%;
    /*position: absolute;

    de-comment to push page 

    */
    /*transition: all 0.1s ease;*/
    /*transition: transform .2s;*/
    -webkit-transition: -webkit-transform .2s;
}

h1, h2, h3, p {
    margin: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.content {
    color: white;
    position: relative;
}


.glyphicon.glyphicon-cog {
    
    position: absolute;
    top: 4px;
    right: 30px;
    font-size: 35px;
}

/********END MAIN BODY*******/


/**********************/
/* RIGHT PANEL STYLES */
/**********************/

#right-panel-link {

  position: absolute;
  top: 4px;
  right: 100px;
}

#panel-title {

  position: relative;
  color: white;
  text-align: center;
  top: 15px;
}

html {
  overflow-x: hidden;
  height: 100%;
}

.ng-pageslide {
  background: black;
  background-color:rgba(0,0,0,1);
}

.glyphicon.glyphicon-remove-circle {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 30px;
}

#add-area-button {
    position: absolute;
    top: 200px;
    right: 90px;
}

#add-hex-button {
    position: absolute;
    top: 150px;
    right: 90px;
}

#add-gradient-button {
    position: absolute;
    top: 100px;
    right: 90px;
}

#add-chord-button {
    position: absolute;
    top: 300px;
    right: 90px;
}

#clear-items-button {
    position: absolute;
    top: 250px;
    left: 73px;
}

/*.buttonHolder1{ text-align: center; }
.buttonHolder2{ text-align: center; }*/

/********END RIGHT PANEL***********/



/*********************/
/*    D3 STYLES      */
/*********************/

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area1 { fill: #595959; }

.selectedArea {
  fill: #595959 !important;
}

.area {
  fill: #404040;
  clip-path: url(#clip);
}

.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

text {
    font: 10px sans-serif;
}


/********END D3 EXAMPLE STYLES***********/


/******************/
/* SLIDER STYLES */
/*****************/

#inner_range_slider {
  display: inline-block;
  position: relative;
  height: 5px;
  width: 100%;
  margin: 15px 5px 5px 0px;
}

  #inner_range_slider div.bar {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: black;
    overflow: hidden; 
  }

    #inner_range_slider div.bar .selection {
      width: 0;
      height: 100%;
      background: black; 
    }
  #inner_range_slider div.handle {
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: -8px;
    background-color: #13b6ff;
    border: 3px solid #000;
    z-index: 2;
    border-radius: 100%;

  }

#inner_range_slider div.handle.active {
        background-color: #0077ac; }
    #inner_range_slider div.bubble {
      display: none;
      cursor: default;
      top: -32px;
      padding: 1px 3px 1px 3px;
      font-size: 0.7em;
      font-family: sans-serif; }
      #inner_range_slider div.bubble.active {
        display: inline-block; }
      #inner_range_slider div.bubble.limit {
        color: #777; }





/********END SLIDER STYLES***********/

/************************/
/*    GRIDSTER STYLES   */
/************************/

#gridster-ul {
    list-style: none;
}

.controls {
    margin-bottom: 20px;
}


.gridster {
    border: 1px solid #000;
    margin: 0 auto;
    /* opacity: .5; */ 
    background: #999999;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.gridster-item {
    height: 100%;
    border: 1px solid #ccc;
    background-color: #61A9CF;
    cursor: pointer;
}

/*******************************/
/* GRIDSTER BOX HEADER STYLES */
/******************************/


.box-header {
    background-color: #eee;
    padding: 0 42px 0 10px;
    border: 1px solid #ccc;;
    cursor: move;
    position: relative;
    width: 100%;
    height: 25px;
    top: 0;
    left: 0;
}

.box-header-btns {
    top: 2px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}

.box-header-btns a {
    color: black;
    text-decoration:none;
}

.box-header h3 {
    width: 100%;
    font-size: 20px;
    margin: 0px 0px;
    display: inline-block;
    color: black;
}

/********END GRIDSTER STYLES***********/



/*******************************/
/*      Hexbin / Leaflet      */
/******************************/

/*
.leaflet-container {
  display: block;
  position: initial !important;
}

.leaflet-container, .leaflet-map-pane, .leaflet-tile-pane, .leaflet-layer, .leaflet-tile-container, .leaflet-tile {
  width: 100% !important;
  height: 100% !important;
}

.leaflet-tile {
  left: 0 !important;
  top: 0 !important;
}

div.leaflet-bottom.leaflet-right {
  display: none;
}
*/
.leaflet-control-attribution {
  display: none;
}