<div class="content">

  <a class="btn btn-primary" id="right-panel-link" ng-click="toggle()">Visualizations Panel</a>
      <div pageslide ps-open="checked" ps-push="true" ps-speed="0.25"> <!-- ps-key-listener="true" -->
          <div style="padding:20px">
              <h2 id="panel-title">Visualizations</h2>
              <a ng-click="toggle()" class="glyphicon glyphicon-remove-circle" ></a>
              <a class="btn btn-primary" id="add-hex-button" ng-click="addHexbinWidget()">Add Places Hexbin Graph</a>
              <a class="btn btn-primary" id="add-hextracks-button" ng-click="addHexbinTracksWidget()">Add Tracks Hexbin Graph</a>
              <a class="btn btn-primary" id="add-gradient-button" ng-click="addGradientWidget()">Add Area Gradient Graph</a>
              <a class="btn btn-primary" id="add-chord-button" ng-click="addChordWidget()">Add Chord Graph</a>
              <a class="btn btn-primary" id="add-calendar-button" ng-click="addCalendarWidget()">Add Calendar</a>
              <a class="btn btn-primary" id="add-tracks-button" ng-click="addTracksWidget()">Add Tracks</a>
              <a class="btn btn-primary" id="add-barchart-button" ng-click="addBarChartWidget()">Add Bar Chart</a>
              <a class="btn btn-primary" id="add-staysgraph-button" ng-click="addStaysGraphWidget()">Add Stays Graph</a>
              <a class="btn btn-primary" id="add-arcdiagram-button" ng-click="addArcDiagramWidget()">Add Arc Diagram</a>
              <a class="btn btn-primary" id="clear-items-button" ng-click="clear()">Clear All Items</a>
          </div>
      </div>

    <p>
        <a href="#">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </p>

    <h1>TraceMySteps</h1>

        <div range-slider
             floor="0"
             ceiling="18"
             dragstop="true"
             ng-model-low="context.lowerValue"
             ng-model-high="context.upperValue">
        </div>
</div>


<div gridster="gridsterOpts">
    <ul id="gridster-ul">
        <li ng-repeat="widget in widgets" gridster-item size-x="widget.sizeX" size-y="widget.sizeY" minSizeX="widget.minSizeX" minSizeY="widget.minSizeY"  maxSizeY="widget.maxSizeY" maxSizeX="widget.maxSizeX">
            <div class="box-header">
                <h3>{{widget.name}}</h3> 
                <div class="box-header-btns pull-right">
                    <a title="Pin" ng-click="widget.draggable=false">
                      <!-- PIN BUG!!!!!!! -->
                        <span class="glyphicon glyphicon-pushpin"></span>
                    </a>
                    <a title="Remove" ng-click="widgets.splice($index, 1)">
                      <!-- remover map e ids do elem[0] quando limpa mapas
                            limpar elem[0] quando se remove item individual ou limpar tudo quando se removem todos os itens
                            (mas não apagar informação do backend em cache)-->
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
            
            <chord-graph ng-if="widget.type == 'chord'"></chord-graph>
            <hexbin-graph ng-if="widget.type == 'hexbin'"></hexbin-graph>
            <hexbintracks-graph ng-if="widget.type == 'hexbintracks'"></hexbintracks-graph>
            <area-gradient ng-if="widget.type == 'areagradient'"></area-gradient>
            <calendar-heatmap class="calendar-heatmap" ng-if="widget.type == 'calendar'"></calendar-heatmap>
            <gps-tracks ng-if="widget.type == 'tracks'"></gps-tracks>
            <bar-chart ng-if="widget.type == 'bar'">
              <button class="btn btn-primary btn-xs" id="barchart-frequency" ng-click="frequencyDataset()" autocomplete="off">Frequency</button>
              <button class="btn btn-primary btn-xs" id="barchart-timespent" ng-click="timespentDataset()" autocomplete="off">Time Spent</button>
            </bar-chart>
            <stays-graph ng-if="widget.type == 'stays'"></stays-graph>
            <arc-diagram ng-if="widget.type == 'arc'"></arc-diagram>
        </li>
    <ul>
</div>

<!-- row="extraBox.row" col="extraBox.col" we can later use the row and column attributes
    to put the new Items where we desire

    we can also add a mechanism to help identify individual boxes -->

