<div class="content">

  <h1 id="title">TraceMySteps</h1>

  <span class="glyphicon glyphicon-th pull-right" ng-click="toggleRight()"></span> <!-- Visualizations Panel -->
      <div pageslide ps-open="checkedRight" ps-push="true" ps-speed="0.25"> <!-- ps-key-listener="true" -->
          <div style="padding:20px">
              <h2 id="panel-title">Add Visualizations</h2>
              <a class="btn btn-primary" id="add-hex-button" ng-click="addHexbinWidget()">Hexbin Places</a>
              <a class="btn btn-primary" id="add-hextracks-button" ng-click="addHexbinTracksWidget()">Hexbin Tracks</a>
              <a class="btn btn-primary" id="add-gradient-button" ng-click="addGradientWidget()">Movement Graph</a>
              <a class="btn btn-primary" id="add-chord-button" ng-click="addChordWidget()">Trips Chord Diagram</a>
              <a class="btn btn-primary" id="add-calendar-button" ng-click="addCalendarWidget()">Calendar</a>
              <a class="btn btn-primary" id="add-tracks-button" ng-click="addTracksWidget()">Tracks</a>
              <a class="btn btn-primary" id="add-barchart-button" ng-click="addBarChartWidget()">Places</a>
              <a class="btn btn-primary" id="add-staysgraph-button" ng-click="addStaysGraphWidget()">Stays</a>
              <a class="btn btn-primary" id="add-arcdiagram-button" ng-click="addArcDiagramWidget()">Trips Network</a>
              <a class="btn btn-primary" id="clear-items-button" ng-click="clear()">Clear All</a>
          </div>
      </div>

  <span class="glyphicon glyphicon-question-sign pull-right" ng-click="toggleLeft()"></span>
    <div pageslide ps-open="checkedLeft" ps-push="true" ps-side="left" ps-speed="0.25">
        <div style="padding:10px">
          <h2 id="help-panel-title">Help</h2>
          <p id="intro-paragraph">TraceMySteps allows you to analyze your personal geo-location
            data, with focus on <strong>personal semantics</strong>.
          </p>
          <p id="menu-paragraph"><strong>Menu button</strong>: choose which visualization
            you want to add to the dashboard.
          </p>
          <p id="clean-paragraph"><strong>Clean the dashboard</strong>: click on <strong>'Clear All'</strong>.
          </p>
          <p id="slider-paragraph"><strong>Slider</strong>: select the <strong>time interval</strong> in which you want
            to analyze the data.
          </p>
          <p id="widget-paragraph">Each widget is <strong>draggable</strong> and some are <strong>resizable</strong>.
            The <strong>trash button</strong> allows the <strong>deletion</strong> of that single widget.
            The <strong>pin button</strong> fixes the widget on its current position.
          </p>
          <p id="credits-paragraph">
            Author: <a href="https://github.com/PedroF20">Pedro Francisco</a>, MIT License
          </p>
        </div>
    </div>


    <rzslider rz-slider-model="slider.minValue"
          rz-slider-high="slider.maxValue"
          rz-slider-options="slider.options">
    </rzslider>

</div>


<div gridster="gridsterOpts">
    <ul id="gridster-ul">
        <li ng-repeat="widget in widgets" gridster-item size-x="widget.sizeX" size-y="widget.sizeY" minSizeX="widget.minSizeX" minSizeY="widget.minSizeY"  maxSizeY="widget.maxSizeY" maxSizeX="widget.maxSizeX">
            <div class="box-header">
                <h3>{{widget.name}}</h3> 
                <div class="box-header-btns pull-right">
                    <a title="Pin" ng-click="widget.draggable=false">
                      <!-- PIN BUG!!!!!!! -->
                        <span class="glyphicon glyphicon-pushpin"></span>
                    </a>
                    <a title="Remove" ng-click="widgets.splice($index, 1)">
                      <!-- remover map e ids do elem[0] quando limpa mapas
                            limpar elem[0] quando se remove item individual ou limpar tudo quando se removem todos os itens
                            (mas não apagar informação do backend em cache)-->
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
            
            <chord-graph ng-if="widget.type == 'chord'"></chord-graph>
            <hexbin-graph ng-if="widget.type == 'hexbin'"></hexbin-graph>
            <hexbintracks-graph ng-if="widget.type == 'hexbintracks'"></hexbintracks-graph>
            <area-gradient ng-if="widget.type == 'areagradient'"></area-gradient>
            <calendar-heatmap class="calendar-heatmap" ng-if="widget.type == 'calendar'"></calendar-heatmap>
            <gps-tracks ng-if="widget.type == 'tracks'"></gps-tracks>
            <bar-chart ng-if="widget.type == 'bar'">
              <button class="btn btn-primary btn-xs" id="barchart-frequency" ng-click="frequencyDataset()">Frequency</button>
              <button class="btn btn-primary btn-xs" id="barchart-timespent" ng-click="timespentDataset()">Time Spent</button>
            </bar-chart>
            <stays-graph ng-if="widget.type == 'stays'">
              <div  id=dataDiv class="stays-tooltip" ></div>
            </stays-graph>
            <arc-diagram ng-if="widget.type == 'arc'"></arc-diagram>
        </li>
    <ul>
</div>
