<div class="content">

  <a class="btn btn-primary" id="right-panel-link" ng-click="toggle()">Visualizations Panel</a>
      <div pageslide ps-open="checked" ps-push="true" ps-speed="0.25"> <!-- ps-key-listener="true" -->
          <div style="padding:20px">
              <h2 id="panel-title">Visualizations</h2>
              <a ng-click="toggle()" class="glyphicon glyphicon-remove-circle" ></a>
              <a class="btn btn-primary" id="add-area-button" ng-click="addAreaWidget()">Add Area Graph</a>
              <a class="btn btn-primary" id="add-hex-button" ng-click="addHexbinWidget()">Add Hexbin Graph</a>
              <a class="btn btn-primary" id="add-gradient-button" ng-click="addGradientWidget()">Add Area Gradient Graph</a>
              <a class="btn btn-primary" id="add-chord-button" ng-click="addChordWidget()">Add Chord Graph</a>
              <a class="btn btn-primary" id="add-calendar-button" ng-click="addCalendarWidget()">Add Calendar</a>
              <a class="btn btn-primary" id="add-tracks-button" ng-click="addTracksWidget()">Add Tracks</a>
              <a class="btn btn-primary" id="clear-items-button" ng-click="clear()">Clear All Items</a>
          </div>
      </div>

    <p>
        <a href="#">
            <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
    </p>

    <h1>TraceMySteps</h1>

        <div range-slider
             floor="0"
             ceiling="18"
             dragstop="true"
             ng-model-low="context.lowerValue"
             ng-model-high="context.upperValue">
        </div>
</div>


<div gridster="gridsterOpts">
    <ul id="gridster-ul">
        <li ng-repeat="widget in widgets" gridster-item size-x="widget.sizeX" size-y="widget.sizeY" minSizeX="widget.minSizeX" minSizeY="widget.minSizeY"  maxSizeY="widget.maxSizeY" maxSizeX="widget.maxSizeX">
            <div class="box-header">
                <h3>{{widget.name}}</h3> 
                <div class="box-header-btns pull-right">
                    <a title="Pin" ng-click="widget.draggable=false">
                      <!-- PIN BUG!!!!!!! -->
                        <span class="glyphicon glyphicon-pushpin"></span>
                    </a>
                    <a title="Remove" ng-click="widgets.splice($index, 1)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
            
            <area-graph ng-if="widget.type == 'area'" list_of_hours="{{widget.hours}}" day-start="{{context.lowerValue}}" 
                                                      day-end="{{context.upperValue}}" hour-start="{{context.hourStart}}" 
                                                      hour-end="{{context.hourEnd}}">
              <div range-slider id="inner_range_slider" floor="0" ceiling="2400" step= "30" dragstop="true" 
                          ng-model-low="context.hourStart" ng-model-high="context.hourEnd"></div>
            </area-graph>
            <chord-graph ng-if="widget.type == 'chord'"></chord-graph>
            <hexbin-graph ng-if="widget.type == 'hexbin'"></hexbin-graph>
            <area-gradient ng-if="widget.type == 'areagradient'"></area-gradient>
            <calendar-heatmap ng-if="widget.type == 'calendar'"></calendar-heatmap>
            <gps-tracks ng-if="widget.type == 'tracks'"></gps-tracks>
        </li>
    <ul>
</div>

<!-- row="extraBox.row" col="extraBox.col" we can later use the row and column attributes
    to put the new Items where we desire

    we can also add a mechanism to help identify individual boxes -->

